{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 120,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
	"endOfLine": "lf",
	"trailingComma": "es5"
}
